.loading-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .loading-screen img {
    position: absolute;
    width: 100px; /* Adjust the size of the image */
    animation: move-and-rotate 10s linear infinite;
  }
  
  @keyframes move-and-rotate {
    0% {
      transform: translateX(-900px) translateY(150px) rotate(0deg); /* Start off-screen to the left */
    }
    50% {
      transform: translateX(calc(100vw - 100px)) rotate(90deg); /* Middle of the screen */
    }
    100% {
      transform: translateX(calc(200vw - 100px)) translateY(-150px) rotate(60deg); /* Off-screen to the right */
    }
  }
  